/* TAG SELECTORS */

body{
    color: #40514e;
    margin:0px;
    text-align: center; 
    padding: 0px;
    font-family:'starjout.ttf','starjedi.ttf','soloist1.ttf','nasalization-rg.ttf';
}

nav{
    width:100%;
    background-color: #000000;
}
 

/* PROJET MENU DEROULANT
#navbar li{
    display: inline;
    position: fixed;
}


nav li {
    list-style-type: none;
}

nav > ul > li {
    float: left;
    position:relative;

}

.submenu {
    display:none;
}
nav > ul ::after{
    content:"";
    display:table;
    clear: both;
}
nav input[type=checkbox]{
    display: none;
}

nav label{
    display: none;
}
nav a {
    display:inline-block;
    text-decoration: none;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #11999E;

}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top:100%;
    left:0px;
    padding:0px;
    z-index: 1000;
}

.submenu li a{
    padding:15px 30px;
    font-size: 13px;
    color: aqua;
    width: 270px;
}

nav > ul {
    margin: 0px;
    padding: 0px;
}

 /*Fin du test menu déroulant*/


h1{
    position: auto;
    top: 20px;
    margin-left: 50px;
    font-family: 'Starjout.ttf';
    color: #6C0277;
    font-size: 6em;
    line-height: 1;
}

h2{
    font-family: 'starjedi.ttf';
    color:#6C0277;
    font-size: 2.7em;
}

h3{
    font-family: 'soloist1.ttf', sans-serif;
    color:#11999E;
    margin:50px;
}

hr{
    border: dotted #e0ebe8 5px;
    border-bottom: none;
    width: 10%;
    line-height: 2;
    margin:30px auto 30px auto;
}

a{
    color:#66BFBF ;
    text-decoration: none;
    margin: 10px 20px;

}
a:hover{
    color:#e0ebe8
}

header{
    margin: 0px;
    background: #000000;
   /* background: url(image/Stormtrooper\ 1.jpg);
    position: relative;
    padding-top:650px; /*Déplace le bloc de text*/
}

ul{
    margin: 0px;
    display: block;
    clear:both;
}



li 
{
    display:inline;
    padding: 5px;
    position: relative;
}
main{
    background-color: #FFF;
}

footer{
    background-image: radial-gradient(circle at top left,#000000 0%, #555962 90%);
    padding: 3em 0 3em;
}

p{
    line-height: 2;
    font-family: 'nasalization-rg.ttf'
}

/* TAG CLASS*/

.navbar{
    top:0px;
    font-family: 'starjhol.ttf';
    font-size: 1.25em;
    margin: 0;
    padding: 0; 
    list-style: 0 ; 
}
.real_active{
    color:#ffffff;
}
.achie_active{
    color:#ffffff;
}
.index_active{
    color:#ffffff;
}
.indexen_active{
    color:#ffffff;
}

.destroyer{
    position: absolute;
    left:200px;
    top:180px;
    width:200px;
}
.faucon-millenium{
    position: absolute;
    width:150px;
    left: 100px;
    top:350px;
}
.etoile-de-la-mort{
    position: absolute;
    left:190px;
    top:150px;
    width:90px;
}

.me {
    width:200px;
    border-radius: 20%;
}

.bonjour{
    width: 30%;
    margin: auto;
}
.container1{
    display:flex;
    justify-content: space-around
}
.formations{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 300px;
    background-color:#40514e ;
}

.experiences{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    height: 300px;
    background-color:#40514e ;
}


.header_img{
    background-image: url(image/Stormtrooper\ 1.jpg);
    position: relative;
    padding-top:650px; /*Déplace le bloc de text*/
}

.skills{
    background-color: 	#F5FFFA;
}


.contact{
    width: 100%;
    background-color: 	#F5FFFA;
    margin:0px auto 0px auto;
    height: 650px;
}

.contact-me {
    width: 50%;
    margin: 40px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'nasalization-rg.ttf';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bcd4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bcd4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bcd4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bcd4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bcd4ad);
    text-decoration: none;
}


.row{
    width: 50%;
    margin: 0px auto 0px auto;
    text-align: left;
}

.img1{
    width: 20%;
    float: left;
    margin-right: 30px; 
    border-radius: 20px;
}

.img2{
    width: 20%;
    float: right;
    margin-left: 30px;
    border-radius: 20px;
}

.my-job{
    font-family: 'Starjhol.ttf';
    color:#66BFBF;
    font-size: 2.5em;
    line-height: 4;
}
.instagram{
    font-family: 'nasalization-rg.ttf';
}
.facebook{
    font-family: 'nasalization-rg.ttf';
}
.email{
    font-family: 'nasalization-rg.ttf';
}
.logo{
    position: absolute;
    right: 42%;
    width: 13%;
    margin: 20px;
}

.langues{
    display:inline;
}
.français{
    width: 30px;
    position: relative;
}
.britanique{
    width: 30px;
    position: relative;
}
.up{
    width:60px;
    position: absolute;  
    clear: right;
    float:right;
    margin-right: 40px;
    right: 30px;
    animation: pulse 2s infinite;
    border-radius:50%;
}

.copy{
    color: #e0ebe8;
    font-size: 0.75em;
    padding: 35px 0;
    position: relative;
}

.container3{
    margin:auto;
}
/** Réalisations**/

.papilhorig{
    width:10%;
    float: left;
    margin-right: 30px;
}
.logo_papi{
    width:25%;
    display: flex;
    height: 25%;
    margin-right: 200px;
}
.header_réal{
    background-image: url(image/paysage2.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top:200px;
}
.mes_réalisations{
    font-family: 'Starjhol.ttf';
    font-size: 2.5em;
    color:#66BFBF;
    line-height: 4;
}
.container1{
    display:flex;
    align-items: stretch;
}
.moodboard{
    width: 35%;
    display: flex;
    border-radius: 30px;
    background-color:#e0ebe8;
    margin-left: 150px;
    
}
.site_papi{
    width: 50%;
    border-radius:20px;
}
.texte_logo{
    margin-left: 200px;
    float: left;
    
}
.texte_moodboard{
   margin-right: 400px;
   float: right;
}
.texte_site{
    margin-left:300px;
    float:left;
}
.cvhtml{
    width:50%;
    border-radius: 20px;
}
.imts{
    width:50%;
    border-radius: 2Opx;
}
.sec_imts{
    background-color:#F5FFFA;
}
.sec_html{
    background-color: #F5FFFA;
}
.sec_mood{
    background-color:#F5FFFA;
}


/***** barre évolution *****/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box;}

/* Container for skill bars */
.container {
   /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 20%;
}

.skills2 {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
  font-family: 'nasalization-rg.ttf';
  border-radius: 10px;
}

.html {
    text-align: center;
    width: 90%; 
    background-color: #4CAF50;
    border-radius: 10px;
    justify-content: center;
} 
.css {
    text-align: center;
    width: 80%;
    background-color: #2196F3;
    border-radius: 10px;
} 
.js {
    text-align: center;
    width: 20%; 
    background-color: orange;
    border-radius: 10px;
} 
.CMS{
    text-align: center;
    width: 90%;
    background-color: #f44336;
    border-radius: 10px;
}
.php {
    text-align: center;
    width: 30%; 
    background-color: #808080;
    border-radius: 10px;
} 
.py{
    text-align: center;
    width: 30%;
    background-color: peru;
    border-radius: 10px;
}
.anglais{
    text-align: center;
    width: 80%;
    background-color:#66BFBF ;
    border-radius: 10px;

}

.allemand{
    text-align: center;
    width: 50%;
    background-color: #66BFBF;
    border-radius: 10px;
}

.HardSkills
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 25% 0 25%;

}

/** POLICES  (dafont) **/

@font-face {
    font-family: 'starjout.ttf';
    src: url(font/starjedi/Starjedi.ttf);
    src: url(font/starjedi/Starjhol.ttf);
    src: url(font/starjout/Starjout.ttf);
    src: url(font/stjedise/STJEDISE.TTF);

}
@font-face {
    font-family: 'starjedi.ttf';
    src: url(font/starjedi/Starjedi.ttf);
    src: url(font/starjedi/Starjhol.ttf);
    src: url(font/starjout/Starjout.ttf);
    src: url(font/stjedise/STJEDISE.TTF);

}
@font-face {
    font-family: 'Starjhol.ttf';
    src: url(font/starjedi/Starjedi.ttf);
    src: url(font/starjedi/Starjhol.ttf);
    src: url(font/starjout/Starjout.ttf);
    src: url(font/stjedise/STJEDISE.TTF);

}
@font-face {
    font-family: 'soloist1.ttf';
    src: url(font/Soloist/soloist1.ttf);
    src: url(font/Soloist/soloist3d.ttf);
    src: url(font/Soloist/soloistchrome.ttf);
    src: url(font/Soloist/soloistital1.ttf);
}
@font-face{
    font-family: 'nasalization-rg.ttf';
    src:url(font/nasalization-rg.ttf)
}

/** BOUTON FLECHE (source wifeo.com)**/ 


@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(58, 38, 93);
    }
    70%{
        box-shadow: 0 0 0 0.8rem rgba(58, 38, 93)
    }
    100%{
        box-shadow: 0 0 0 0 rgba(58, 38, 93);
}





